<launch>
	<include file="$(find ros_erle_rover_navigation)/launch/localizacion.launch"/>
	<include file="$(find ros_erle_rover_navigation)/launch/move_base.launch"/>

	<include file="$(find ros_erle_rover_navigation)/launch/view_navigation2.launch"/>

	<node pkg="ros_erle_rover_tf" type="tf_sim" name="tf_sim" output="screen">
	</node>

	<!-- Map server -->
	<arg name="map_file" default="map.yaml"/>
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />


</launch>
